manifest {
    name = 'PhiloBacteria'
    nextflowVersion = '>= 20.10.0'
    author = 'Nehleh Kargarfard'
    mainScript = 'main.nf'
}



params {
genomeSize = '5000'
recom_len = '100'
tMRCA = '0.01'
nu_sim = '0.05'
recom_rate = '0.02'
sim_stat = 0 //0 is just leaves, 1 is for both internal nodes and leaves and 2 is just internal nodes
sim_fixed = 0 //0 for fixed number and fixed len of recombination and 1 for normal/random way making recombination events.
out = 'Results'
xml_file = "${PWD}/bin/template/GTR_template.xml"
json_file = "${PWD}/bin/template/GTR_template.json"
params.seq = "/home/nehleh/PhyloCode/Result/Results_13092021/num_4/num_4_Wholegenome_4.fasta"
help = true
}



//process {
    //conda = 'PhiloBacteria.yml'

    //executor = 'local'
    //scratch = true
    //cpus  = 1
    //memory = 12.GB
   
//}


profiles {

    standard {
        process.executor = 'local'
        conda = 'PhiloBacteria.yml'
    }

    hpc {
        process.executor = 'pbs'
        scratch = true
        cpus  = 4
        memory = 32.GB
        conda = 'PhiloBacteria.yml'
    }

}


timeline {
  enabled = true
  file = "$params.out/timeline.html"
}


report {
  enabled = true
  file = "$params.out/report.html"
}
